@model Portfolio.Models.ContactForm
@{
    ViewBag.Title = "Contact Form";
}

<header>
    <img src="http://cdn-img.easylogo.cn/gif/51/51700.gif" />
</header>
<h2>Contact Form</h2>

<form class="textarea" action="@Url.Action("Index", "Contact")" method ="post">
    
    <div class="lable">
        @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName)
        @Html.ValidationMessageFor(x => x.FirstName)
    </div>
    <div class="lable">
        @Html.LabelFor(x => x.LastName)
        @Html.TextBoxFor(x => x.LastName)
        @Html.ValidationMessageFor(x => x.LastName)
    </div>
    <div class="labe">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="lable">
        @Html.LabelFor(x => x.PhoneNumber)
        @Html.TextBoxFor(x => x.PhoneNumber)
        @Html.ValidationMessageFor(x => x.PhoneNumber)
    </div>
    <div class="lable">
        @Html.LabelFor(x => x.Message)
        @Html.TextAreaFor(x => x.Message)
        @Html.ValidationMessageFor(x => x.Message)
    </div>

    <input type="submit" value="Submit" />
</form>
@*Add a refrence to jQuery Vlaidation this is the javascript that 
actually perfomrs our validation using jQuery*@
@section Scripts{
@Scripts.Render("~/bundles/jQueryval")
}