<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="yui-skin-sam">
    <form method="post" action="default.aspx" id="form1">
        <div class="page">                  
            <div class="top">            
                <ul class="tabs">
                    <li id="tab_1"><a href="currentpalette.aspx"><img src="gfx/tabicon_palette.png" alt="" />My<br />Palettes</a></li>
                    <li id="tab_2"><a href="colorpicker.aspx"><img src="gfx/tabicon_pipette.png" alt="" />Color<br />Picker</a></li>
                    <li id="tab_3"><a href="colorlibraries.aspx"><img src="gfx/icon_colorlibraries.png" alt="" />Color<br />Libraries</a></li>
                    <li id="tab_4"><a href="colormatch.aspx"><img src="gfx/tabicon_colormatch.png" alt="" />Color<br />Matching</a></li>
                    <li id="tab_5"><a href="tools.aspx"><img src="gfx/tabicon_tools.png" alt="" />Analysis &<br />Conversion</a></li>
                    <li id="tab_6"><a href="help.aspx"><img src="gfx/tabicon_help.png" alt="" />Help &<br />Guides</a></li>
                </ul>            
                <a href="/"><img src="gfx/colorexplorer_logo.png" alt="" style="position:absolute;left:0px;top:75px;" /></a>                
                <div class="TopRightLinks">
                    <a href="userprofile.aspx">Login</a> |
                    <a href="about.aspx">About</a> |
                    <a href="about.aspx?p=disclaimer">Disclaimer</a>
                </div>
            </div>                   
            <div class="submenubar">           
                <ul id="submenu_0" class="submenu">
                    <li><img src="gfx/quickstart.png" alt="" /></li>
                    <li id="sub_0_3"><a href="colorpicker.aspx">Pick Some Colors</a></li>
                    <li id="sub_0_2"><a href="imageimport.aspx">Image Color Import</a></li>
                    <li id="sub_0_4"><a href="colorlibraries.aspx">Browse Color Libraries</a></li>
                    <li id="sub_0_5"><a href="screencasts.aspx">View Screencasts</a></li>
                    <li id="sub_0_1"><a href="http://blog.colorexplorer.com" target="_blank">Read the ColorExplorer Blog</a></li>
                </ul>
            </div>
            <div class="workspace">
                <div style="float:left;width:300px;">
    <div class="frontpage">
        
<div style="width:950px;height:40px;">

</div>
        <a class="splash" style="margin-right:15px;background-image:url(gfx/splash_imageimport.jpg)" href="imageimport.aspx">
            <span class="header">Import colors from photos, images, and artwork</span>
            Instantly get a color palette based on your own graphics!
        </a>
        <a class="splash" style="margin-right:15px;background-image:url(gfx/splash_colormatch.jpg)" href="colormatch.aspx">
            <span class="header">Create matching color palettes in a snap</span>
            Explore numerous matching algorithms to fit your taste!
        </a>
        <a class="splash" style="background-image:url(gfx/splash_libraries.jpg)" href="colorlibraries.aspx">
            <span class="header">Browse multiple color libraries</span>
            View and work with colors from popular color systems!
        </a>        
    </div>
    <div class="floatfix"></div>
    <div style="width:960px;margin-top:25px;">
        <div style="width:280px;float:left;margin-right:15px;padding-left:15px;padding-right:15px;">
            <h1>What is this?</h1>
            <p>Simply put, ColorExplorer is an online toolbox for working with color palettes. Being a little more elaborate, the current site is the result of evolvement on my acclaimed <a href="http://www.colormatch5k.com" target="_blank">ColorMatch 5K</a> project dating back as far as 2001.</p>
            <p>With ColorExplorer you can quickly and easily create, manage and evaluate color palettes for use in graphic design, web designs, layouts, and much more.</p>
        </div>
        <div style="width:280px;float:left;margin-right:15px;padding-left:15px;padding-right:15px;">
            <h1>Is it free?</h1>
            <p>Yes, it is absolutely free to use all the features found on the site. You don't have to register if you don't want to.</p>
            <p>Registering for a free user profile, however, will give you a few extras (e.g. better and safer palette control/access).</p>
            <p>You may also opt for a paid registration to get unlimited number of palettes to save but most important of all; to support this free project! <a href="userprofile.aspx">Read more ...</a></p>
        </div>
        <div style="width:280px;float:left;padding-left:15px;padding-right:15px;">
            <h1>Who made this?</h1>
            <p>ColorExplorer was made by Kim Jensen of <a href="http://port80.biz" target="_blank">Port80.biz</a> as a fun spare time project.</p>
            <p>When not working on spare time projects, I make a living as a professional web developer, systems designer, and integrator. To put it short, I just do lots of programming stuff! :-)</p>
            <p><a href="about.aspx">Read more about the ColorExplorer project</a></p>
        </div>
    </div>
    <div class="floatfix"></div>
                </div>               
                <div style="float:left;width:660px;">
                </div>
                <div class="floatfix"></div>
            </div>                                                          
            <img src="gfx/pixel.gif" id="callback" alt="" />                
            <div class="footer">
                <div class="column">
                    <p>ColorExplorer is developed and owned by <a href="http://port80.biz">Port80.biz</a>. Copyright &copy; 2008-2010. All rights reserved.</p>
                    <p>Some JavaScript code courtesy of <a href="http://developer.yahoo.com/yui">Yahoo! YUI</a>.</p>                                       
                </div>
                <div class="column">
                    <p>Adobe Photoshop, Adobe InDesign, and Adobe Illustrator are registered trademarks of <a href="http://www.adobe.com">Adobe Systems, Inc.</a></p>
                </div>
                <div class="addthis">
                   
                </div>                
                <div class="floatfix"></div>
            </div>                
        </div> 
    </form>     
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-134547-8");
        pageTracker._trackPageview();
    </script>          

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
